[class^="arrow-"],[class*=" arrow-"]{display:inline-block;width:39px;height:56px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../img/arrows.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.arrow-up-default{background-position:-6px -44px;}
.arrow-up-primary{background-position:-91px -44px;}
.arrow-up-info{background-position:-176px -44px;}
.arrow-up-success{background-position:-261px -44px;}
.arrow-up-warning{background-position:-345px -44px;}
.arrow-up-danger{background-position:-430px -44px;}
.arrow-up-inverse{background-position:-515px -44px;}
.arrow-down-default{background-position:-6px -101px;}
.arrow-down-primary{background-position:-91px -101px;}
.arrow-down-info{background-position:-176px -101px;}
.arrow-down-success{background-position:-261px -101px;}
.arrow-down-warning{background-position:-345px -101px;}
.arrow-down-danger{background-position:-430px -101px;}
.arrow-down-inverse{background-position:-515px -101px;}
.arrow-up-default-large{height:91px;width:46px;background-position:-45px -8px;}
.arrow-up-primary-large{height:91px;width:46px;background-position:-130px -8px;}
.arrow-up-info-large{height:91px;width:46px;background-position:-215px -8px;}
.arrow-up-success-large{height:91px;width:46px;background-position:-300px -8px;}
.arrow-up-warning-large{height:91px;width:46px;background-position:-384px -8px;}
.arrow-up-danger-large{height:91px;width:46px;background-position:-469px -8px;}
.arrow-up-inverse-large{height:91px;width:46px;background-position:-554px -8px;}
.arrow-down-default-large{height:91px;width:46px;background-position:-45px -101px;}
.arrow-down-primary-large{height:91px;width:46px;background-position:-130px -101px;}
.arrow-down-info-large{height:91px;width:46px;background-position:-215px -101px;}
.arrow-down-success-large{height:91px;width:46px;background-position:-300px -101px;}
.arrow-down-warning-large{height:91px;width:46px;background-position:-384px -101px;}
.arrow-down-danger-large{height:91px;width:46px;background-position:-469px -101px;}
.arrow-down-inverse-large{height:91px;width:46px;background-position:-554px -101px;}
